<button class="px-5 py-2.5 rounded-full text-left flex justify-between bg-secondary/orange_medium w-full items-center">
	<p class="font-medium text-sm w-full truncate">
		{{ text }}
	</p>
	<div class="size-5">
		{% include 'components/icons/search.svg' %}
	</div>

</button>
