<button class="px-5 py-2.5 rounded-full text-left flex justify-between bg-secondary/orange_medium w-full items-center">
	<p class="font-medium text-sm w-full truncate">
		{{ text }}
	</p>
	<image src="{{ asset('icons/search.svg') }}" alt="Search icon" class="size-5">

</button>
