<div class="flex flex-col w-full gap-2 items-center article-element">
	<div class="rounded-full grid place-items-center size-[110px] bg-secondary/orange_light">
		<image src="{{ image }}" alt="Article image" class="w-[54px] h-[74px] object-cover pointer-events-none">
	</div>
	<a href="{{ url }}" class="text-[11px] text-center lg:text-[12px] font-semibold text-font-text-black leading-[13px]">{{ title }}</a>
</div>
