<div class="flex flex-col gap-2 items-center">
	<div class="rounded-full grid place-items-center size-[110px] bg-secondary/orange_light">
		<image src="{{ image }}" alt="Article image" class="w-[54px] h-[74px] object-cover">
	</div>
	<p class="text-[11px] lg:text-[12px] font-semibold text-font-text-black leading-[13px]">{{ title }}</p>
</div>
