<button class="py-2.5 px-6 rounded-full bg-white group border-b-primary/orange-dark hover:bg-primary/orange transition-colors border-b-[4.5px] flex items-center gap-1"> {% block icon %}{% endblock %}
	<span class="text-[12px] font-semibold text-primary/orange group-hover:text-white">{{ text }}</span>
</button>
