<div class="flex items-center gap-1">
	{% for item in items %}
		{% if loop.last %}
			<span class="text-font-text-black truncate text-[12px]">{{ item.label }}</span>
		{% else %}
			<a href="{{ item.url }}" class="text-font-text-muted truncate font-semibold text-[11px]">{{ item.label }}</a>
			<span class="text-font-text-muted text-[12px]">/</span>
		{% endif %}
	{% endfor %}
</div>
